// Specific CSS for your home-page

.subjects_container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}

.subjects_cards {

}

.subjects_container h2.text-center {
  font-size: 3em;
  margin-bottom: 80px;
}

.card_h {
  box-shadow: 0 0 30px;
  overflow: hidden;
  border-radius: 15px;
  margin: 7px;
  width: 180px;
  height: 150px;
display: flex;
justify-content: center;
align-items: center;
transition: .2s;
}

.card_h:hover{
  transform: scale(1.1);
}
.cards_h {
  display: flex;
  justify-content: space-between;

}

.card_h a img {
  object-fit: scale-down;
  border-radius: 20px;
  width: 100%;
  transform: scale(1.3);
  height: 100%;
}

.card_h z a img {
  object-fit: scale-down;
  border-radius: 20px;
  width: 100%;
  transform: scale(0.5);
  height: 100%;
}
