  <h4> ¡¡Welcome new student, you are now on the road to get new knowledge!! </h4>
    <%=  simple_form_for @student do |f| %>

      <%= f.input :phone_number %>
      <%= f.input :description %>

      <%= f.submit "submit" %>
    <% end %>
</div>
