<h1>all bookings</h1>
<%#= raise %>

<% @bookings.each do |teacher| %>
  <p><%= teacher %> </p>
                <%#= link_to "Ver detalles", teacher_path(teacher), class: "custom-btn btn-3" %>
<% end %>
