<h1>all bookings</h1>
<%#= raise %>
<% @bookings.each do |booking| %>
  <p><%= booking.id %> </p>
  <p><%= booking.teacher.user.first_name %> <%= booking.teacher.user.last_name %> </p>
                <%#= link_to "Ver detalles", teacher_path(teacher), class: "custom-btn btn-3" %>
<% end %>
