<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About YourTeacher</h6>
        <p class="text-justify">YourTeacher is an initiative to help students
          to enhance their skills.
          YourTeacher focuses on providing the most efficient teachers for different languages according to their interests, such as: Math; English; Programming and Spanish.</p>
          <h6>goals</h6>

          <p> We love to help people to contact the best assistants in order to accomplish their goals or just practicing in different languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm. And also, different types of tech sciences as well as writing style.
          </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>About us</h6>
        <ul class="footer-links">
          <li><a href="#">Contact us</a></li>
          <li><a href="#">PQR</a></li>
          <li><a href="#">Terms and conditions</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>DEVELOPERS</h6>
        <ul class="footer-links">
          <li><i class="fab fa-linkedin-in" ></i><a id="p0" class="linkedin" href="http://scanfcode.com/privacy-policy/"> Sebastián Aristizábal </i></a></li>
          <li><i class="fab fa-linkedin-in"></i><a class="linkedin" href="http://scanfcode.com/privacy-policy/"> Daniel Rendon </i></a></li>
          <li><i class="fab fa-linkedin-in"></i><a class="linkedin" href="http://scanfcode.com/privacy-policy/"> Andrea Guzmán</i></a></li>
          <li><i class="fab fa-linkedin-in"></i><a class="linkedin" href="http://scanfcode.com/privacy-policy/"> Daniel Soriano </i></a></li>

        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a>YourTeacher</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
