<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>YOUR-TEACHER</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="banner">
        <div class="container">
          <h1>YOUR TEACHER es una pagina que te conecta con los mejores profesores del mundo para brindarte las mejores
              asosorias</h1>
           <p>Cambia tu vida y conectate con ellos </p>

        </div>
    </div>


    <div class="contaniner">
        <h2 class="text-center">ESCOGE EL TEMA DE TU ASESORIA</h2>
        <%# <% @teachers.each do |teacher| %>
          <%# <div class="cards">
              <div class="card">
                  <img src="https://educacion30.b-cdn.net/wp-content/uploads/2020/03/fondo-matematicas_23-2148146270.jpg"
                      alt="MATEMATICAS" >
                  <p class="custom-btn btn-3"></p><%= link_to teacher.subject, teachers_path %>
              <%# </div> %>
        <%# <% end %>
        <div class= "cards">
            <div class="card">
              <img src="https://educacion30.b-cdn.net/wp-content/uploads/2020/03/fondo-matematicas_23-2148146270.jpg"
                alt="INGLES">
              <%= link_to "Matemáticas", teachers_path, class: "custom-btn btn-3" %>

            </div>

            <div class="card">
              <img src="https://us.123rf.com/450wm/luplupme/luplupme1907/luplupme190700594/129453972-ilustraci%C3%B3n-de-vector-de-clase-de-aprendizaje-de-idioma-ingl%C3%A9s-brit%C3%A1nico-logotipo-de-la-bandera-brit.jpg?ver=6"
                alt="INGLES">
              <a class="custom-btn btn-3" target="_blank" href="profesores1.html"><span>INGLES</span></a>

            </div>
            <div class="card">
              <img src="https://assets.bedu.org/images/top-lenguajes-programacion-2021.jpg" alt="PROGRAMACION">
              <a class="custom-btn btn-3" href="kk"><span>PROGRAMACION</span></a>
            </div>
            <div class="card">
              <img src="https://www.salminter.com/blog/wp-content/uploads/2017/01/347.jpg" alt="ESPAÑOL">
              <a class="custom-btn btn-3" href="kk"><span>ESPAÑOL</span></a>
            </div>
        </div>

        </div>

    </div>





</body>

</html>
