<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TEACHER</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">


    <title>Document</title>
</head>

<body>
    <div class="encabezado"></div>
    <div class="content">
        <h1>PROFESORES</h1>
        <div class="separator"></div>
        <p>MATEMATICAS</p>
    </div>
    <div class="cards-2">
        <div class="contenedor2">
            <img src="https://www.cinconoticias.com/wp-content/uploads/tipos-de-profesores.1.jpg" alt="profesor">
            <p>Mi nombre es angela, 6 a침os de experiencia como docente, matematica de la u nacional</p>


        </div>
        <div class="contenedor2">
            <img src="https://www.cinconoticias.com/wp-content/uploads/tipos-de-profesores.1.jpg" alt="profesor">
            <p>Mi nombre es angela, 6 a침os de experiencia como docente, matematica de la u nacional</p>


        </div>
        <div class="contenedor2">
            <img src="https://www.cinconoticias.com/wp-content/uploads/tipos-de-profesores.1.jpg" alt="profesor">
            <p>Mi nombre es angela, 6 a침os de experiencia como docente, matematica de la u nacional</p>


        </div>
        <div class="contenedor2">
            <img src="https://www.cinconoticias.com/wp-content/uploads/tipos-de-profesores.1.jpg" alt="profesor">
            <p>Mi nombre es angela, 6 a침os de experiencia como docente, matematica de la u nacional</p>


        </div>

        <div class="contenedor2" style="text-align: left;">
            <img src="https://www.cinconoticias.com/wp-content/uploads/tipos-de-profesores.1.jpg" alt="profesor">
            <p>Mi nombre es angela, 6 a침os de experiencia como docente, matematica de la u nacional</p>
            <button class="custom-btn btn-2">RESERVA</button>

        </div>




    </div>


    <div class="footer">
        <p>游놓</p>

    </div>
