<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TEACHER</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">


    <title>Document</title>
</head>

<body>
    <div class="encabezado"></div>
    <div class="content">
        <h1>PROFESORES</h1>
        <div class="separator"></div>
        <p>MATEMATICAS</p>
    </div>
    <div class="cards-2">
        <div class="contenedor2">
        <% @teachers.each do |teacher| %>
          <div class="cards">
              <div class="card">
                <img src="https://www.cinconoticias.com/wp-content/uploads/tipos-de-profesores.1.jpg" alt="profesor">
                <p><%= teacher.user.first_name%> <%= teacher.user.last_name%></p>
                <p><%= teacher.description%></p>
                <p>Rating: <%= teacher.rating%></p>
              </div>
          </div>
        <% end %>
    </div>


    </div>


    <div class="footer">
        <p>👽</p>

    </div>


</body>

</html>
