.container {
  width: 900px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.card {
  background-color: #3bc1d2;
  width: 30%;
  box-shadow: 0 0 30px ;
  overflow: hidden;
  border-radius: 15px;
  margin: 7px;
  height: 600px;
  padding: 30px;

}


.card img {
  height: 150px;

}

.img {
  border: #e205be;
}

.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
}

.footer a {
  font-size: 30px;
  color: #e205be;
}

.footer p {
  font-size: 30px;
  color: #fffcff;
}

/*botones*/

.custom-btn {
  width: 150px;
  height: 150px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  width: 200px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  text-align: center;
}

.card img {
  object-fit: cover;
  width: 200px;
  height: 150px;
  object-position: center;

}

.btn-3_P {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  width: 135px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  text-align: center;

}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

/* de aqui para abajo esta la pagina de los profesores*/

.encabezado {
  height: 300px;
  left: 0;
  margin-top: -40px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.encabezado:before,
.encabezado:after {
  background: none repeat scroll 0 0 rgb(14, 74, 134);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 150px;
  -ms-transform: skew(0deg, 6deg);
  -webkit-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
  width: 50%;
}

.encabezado:after {
  left: auto;
  right: 0px;
  -ms-transform: skew(0deg, -6deg);
  -webkit-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
  width: calc(50%);
}

.content {
  left: 0;
  position: absolute;
  top: 200px;
  width: 100%;
}

.img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100px;
  display:block;
  margin:auto;
  object-position: center;
}

.content h1 {
  color: #FFFFFF;
  font-size: 72px;
  text-align: center;
}

.separator {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  height: 2px;
  margin: 0 auto;
  width: 50%;
}

.content p {
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0;
  text-transform: uppercase;
  text-align: center;
}

.contenedor2 {
  width: 100%;
  /*  height: 20%;*/
  display: flex;
  /*  padding: 20px;*/
  align-items: center;
  background-color: white;
  box-shadow: 10px 10px 30px rgba(142, 43, 43, 0.2);
  border-radius: 30px;
  margin: 15px auto;
  /* flex-grow: 40; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.cards-2 {
  /*display: flex;*/
  justify-content: space-between;
  margin-top: 410px;
}

.contenedor2 img {
  height: 150px;
}

/*botn*/

.btn-2 {
  background: rgb(96, 9, 240);
  background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
  border: none;
  justify-content: flex-end;

}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


.contenedor3{
  width: 20%;
  height: 20%;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  margin: 15px auto;
  flex-grow: 40;
  justify-content: center;
}

/* show de profesor*/
.container-s {
  width: 250px;
  margin: auto;
  background-color: #52bfd5;
  top: 25%;
}

/* index de profesor*/
.teacher{
  background-color: #fff;
  height: 100%;
  text-align: center;
}

.title{
  text-align: center;
}

/*footer*/

.site-footer
{
  background: linear-gradient(45deg,#c1c3e0, #0c92cb) !important;
  padding:20px 0 20px;
  font-size:12px;
  line-height:24px;
  color:#000000;
  bottom: 0;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#000000;
}
.site-footer a:hover
{
  color:#c1c3e0;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#000000
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#c1c3e0;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#000000
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}



.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.linkedin:hover
{
  background-color:#007bb6
}

/* show de profesor*/
.s {
  width: 630px;
  margin: auto;
  background-color: #52bfd5;
  margin: 15px auto;
  padding: 40px;
  margin: 420px auto 50px auto;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;

}

/*reserva con los datos*/


.reserva{
  width: 550px;
  margin: auto;
  background-color: #52bfd5;
  margin: 420px auto 50px auto;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}

/*recordar contraseña*/
.s-1{
  width: 375px;
  margin: auto;
  background-color: #52bfd5;
  margin: 15px auto;
  padding: 34px;
  margin: 30px auto 50px auto;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}

.s-3{
  width: 531px;
  margin: auto;
  background-color: #52bfd5;
  margin: 15px auto;
  padding: 34px;
  margin: 90px auto 50px auto;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}

.s-4{
  width: 531px;
  margin: auto;
  background-color: #52bfd5;
  margin: 15px auto;
  padding: 34px;
  margin: 413px auto 50px auto;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}

.s-5{
  width: 531px;
  margin: auto;
  background-color: #52bfd5;
  margin: 15px auto;
  padding: 34px;
  margin: 112px auto 109px auto;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}
