.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(45deg, #c1c3e0, #0c92cb) !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-right: 10px;
}

.navbar-logo {
  transform: scale(2.8);
  margin-left: 40px;
}
